# https://github.com/withastro/astro/blob/main/.github/workflows/nightly.yml#L33-L70

name: 'Nightly'

on:
  schedule:
    # Runs at 12:00 UTC daily
    - cron: '0 12 * * *'
  workflow_dispatch:

jobs:
  lockfile:
    if: ${{ github.repository_owner == 'swyxio' && github.event.label.name != 'manual-CI' }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out code using Git
        uses: actions/checkout@v2

      - name: Set Node version to 16
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: 'npm'

      - name: Clear lockfile
        run: rm -rf package-lock.json node_modules

      - name: Install dependencies
        run: npm install --ignore-engines --ignore-scripts

      - name: Create Pull Request
        id: createpr
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.NIGHTLY_PERSONAL_GITHUB_TOKEN }}
          commit-message: '[ci] update lockfile'
          title: '[ci] update lockfile'
          body: >
            This PR is auto-generated by a nightly GitHub action. 
            
            It should automatically be merged if tests pass.
            
            If you want to update manually:
            
            1. `npm install -g npm-check-updates` (first time only)
            2. `ncu -u`
            3. `npm install`

      - name: Mark Pull Request for Auto-Merge
        if: steps.createpr.outputs.pull-request-operation == 'created'
        uses: peter-evans/enable-pull-request-automerge@v1
        with:
          token: ${{ secrets.NIGHTLY_PERSONAL_GITHUB_TOKEN }}
          pull-request-number: ${{ steps.createpr.outputs.pull-request-number }}
          merge-method: squash
